.App {
  height: 100vh;
  background-color: #010101;
  overflow: scroll;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.container {
  height: 100%;
  background-color: #010101;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5rem;
}

.sub-text {
  font-size: 25px;
  color: white;
  margin-bottom: 5rem;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #0196fd 30%, #c000eb 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 55px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.animation: {
  width: 100px;
  height: 100px;
}

.noneleft-text {
  font-size: 25px;
  color: rgb(241, 10, 10);
  margin-bottom: 1rem;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #cb0226, #d1d409);
  background-size: 200% 200%;
  animation: gradient-animation 2s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #0196fd, #c000eb);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background: -webkit-linear-gradient(left, #cb0226, #d1d409);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 3rem;
}

.need-wallet {
  color: rgb(185, 3, 3);
  font-size: 26px;
  font-weight: bold;
  margin-top: 3rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.noneleft-container {
  padding-top: 30px;
}

.opensea-collection-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: -webkit-linear-gradient(right, #a50bec1f 30%, rgba(125, 20, 139, 0.116) 60%);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  /* margin-top: 5rem; */
  margin-bottom: 5rem;
}

.opensea-collection-container:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: -webkit-linear-gradient(right, #da2d0f 30%, rgba(125, 20, 139, 0.26) 60%);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.opensea-gradient {
  background: -webkit-linear-gradient(left, #13b2e2 40%, #1add14 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}